# Build tcrypt.ko:
CONFIG_CRYPTO_TEST=m

# Actually enable test running:
CONFIG_CRYPTO_MANAGER_DISABLE_TESTS=n

# Also enable extra tests:
CONFIG_CRYPTO_MANAGER_EXTRA_TESTS=y

# Exposes specific issues:
CONFIG_DEBUG_ATOMIC_SLEEP=y

# Off in some versions of upstream:
CONFIG_CRYPTO_DEV_MXS_DCP=y

# Enable SW support for HW algorithms:
CONFIG_CRYPTO_LRW=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_DES=y
CONFIG_CRYPTO_SHA1=y
CONFIG_CRYPTO_SHA256=y

# Make tcrypt pass:
CONFIG_CRYPTO_VMAC=y
CONFIG_CRYPTO_XCBC=y
CONFIG_CRYPTO_PCBC=y
CONFIG_CRYPTO_ANSI_CPRNG=y

CONFIG_CRYPTO_ANUBIS=y
CONFIG_CRYPTO_CAST5=y
CONFIG_CRYPTO_CAST6=y
CONFIG_CRYPTO_FCRYPT=y
CONFIG_CRYPTO_KHAZAD=y
CONFIG_CRYPTO_SALSA20=y
CONFIG_CRYPTO_SEED=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_CRYPTO_SHA3=y
CONFIG_CRYPTO_TEA=y
