# As many M options as possible:
CONFIG_PM_DEVFREQ=y
CONFIG_PM_DEVFREQ_EVENT=y

# Required for CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=m
CONFIG_SCSI_UFSHCD=n
CONFIG_DEVFREQ_GOV_PASSIVE=m
CONFIG_DEVFREQ_GOV_PERFORMANCE=m
CONFIG_DEVFREQ_GOV_POWERSAVE=m
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=m
CONFIG_DEVFREQ_GOV_USERSPACE=m

CONFIG_FSL_IMX8_DDR_PMU=m
CONFIG_ARM_IMX8M_DDRC_DEVFREQ=m
CONFIG_ARM_IMX_BUS_DEVFREQ=m
CONFIG_ARM_IMX_DEVFREQ=m

CONFIG_INTERCONNECT_IMX=y
CONFIG_INTERCONNECT_IMX8MM=m
CONFIG_INTERCONNECT_IMX8MQ=m
CONFIG_INTERCONNECT_IMX8MN=m
