#
# Minimal sane linux kconfig on top of "allnoconfig"
#
# No hardware!
#
CONFIG_EMBEDDED=n
CONFIG_EXPERT=n

CONFIG_SMP=y
CONFIG_PM=y

CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_MISC=m

CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y

CONFIG_LOCALVERSION_AUTO=y

CONFIG_HIGH_RES_TIMERS=y
CONFIG_NO_HZ_IDLE=y
CONFIG_PREEMPT=y

# For /proc/kconfig.gz
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_DEVTMPFS_MOUNT=y
CONFIG_KEXEC=y
CONFIG_SYSVIPC=y

# NLS
CONFIG_NLS_DEFAULT="utf8"
CONFIG_NLS_UTF8=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_ASCII=y
# Used for vfat:
CONFIG_NLS_CODEPAGE_437=y

# Enable basic RTC so that time has a chance of being sane
CONFIG_RTC_CLASS=y
