#
# Minimal home linux kconfig on top of "allnoconfig"
#
CONFIG_EMBEDDED=n
CONFIG_EXPERT=n

CONFIG_64BIT=y
CONFIG_IA32_EMULATION=y
CONFIG_SMP=y
CONFIG_PM=y

CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_MISC=m

CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y

CONFIG_LOCALVERSION_AUTO=y

CONFIG_HIGH_RES_TIMERS=y
CONFIG_NO_HZ_IDLE=y

CONFIG_PREEMPT=y

# For /proc/kconfig.gz
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_SYSVIPC=y

CONFIG_PCI=y

# USB support and all the HCIs
CONFIG_USB_SUPPORT=y
CONFIG_USB=m
CONFIG_USB_XHCI_HCD=m
CONFIG_USB_EHCI_HCD=m
CONFIG_USB_OHCI_HCD=m
CONFIG_USB_UHCI_HCD=m
CONFIG_TYPEC=m

# Common USB classes
CONFIG_USB_STORAGE=m
CONFIG_USB_SERIAL=m

# Basic serial console
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y

CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

# Basic disk supprot
CONFIG_BLOCK=y
CONFIG_SCSI=y
CONFIG_BLK_DEV_NVME=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_EXT4_FS=y
CONFIG_VFAT_FS=m
CONFIG_EXFAT_FS=m

# Basic networking
CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_NET_CORE=y
CONFIG_INET=y
CONFIG_PACKET=y

CONFIG_TUN=m

# Sound, all modules
CONFIG_SOUND=m
CONFIG_SND=m
CONFIG_SND_SUPPORT_OLD_API=n
CONFIG_SND_HRTIMER=m
CONFIG_SND_SEQUENCER=m
CONFIG_SND_SOC=m
CONFIG_SND_SOC_ACPI=m
CONFIG_SND_HDA_INTEL=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_SND_HDA_CODEC_CONEXANT=m
# SOF path
CONFIG_SND_SST_ATOM_HIFI2_PLATFORM_ACPI=n
CONFIG_SND_SOC_SOF_TOPLEVEL=y
CONFIG_SND_SOC_SOF_ACPI=m
CONFIG_SND_SOC_SOF_PCI=m
CONFIG_SND_SOC_SOF_INTEL_TOPLEVEL=y
CONFIG_SND_SOC_SOF_BAYTRAIL_SUPPORT=y

# ACPI and EFI to boot modern PCs
CONFIG_ACPI=y
CONFIG_EFI=y
CONFIG_EFI_STUB=y

# Intel GPUs
CONFIG_DRM=m
CONFIG_DRM_I915=m

# Encrypted partitions
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
CONFIG_DM_CRYPT=y
CONFIG_CRYPTO_XTS=m

# CIFS mounting support:
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_CIFS=m

# Bluetooth
CONFIG_RFKILL=y
CONFIG_BT=m
CONFIG_BT_HIDP=m
CONFIG_BT_HCIBTUSB=m

CONFIG_KEXEC=y

# VM Host support
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=m
CONFIG_KVM_INTEL=m

# VM Guest support
CONFIG_HYPERVISOR_GUEST=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_CONSOLE=y

# Various input support for mice
CONFIG_INPUT_EVDEV=m
#CONFIG_INPUT_MOUSEDEV=m
#CONFIG_MOUSE_PS2_VMMOUSE=y

CONFIG_HID=m
CONFIG_I2C_HID=m
CONFIG_USB_HID=m
CONFIG_HIDRAW=y

CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=m

CONFIG_HID_LOGITECH=m
CONFIG_HID_MULTITOUCH=m
CONFIG_HID_LOGITECH_DJ=m
CONFIG_HID_LOGITECH_HIDPP=m

# Ethenet dongle:
CONFIG_USB_RTL8152=m

# iptables
CONFIG_NETFILTER=y
CONFIG_NF_CONNTRACK=m
CONFIG_NF_REJECT_IPV4=m
CONFIG_NF_REJECT_IPV6=m
CONFIG_IP6_NF_FILTER=m
CONFIG_IP6_NF_IPTABLES=m
CONFIG_IP6_NF_MANGLE=m
CONFIG_IP6_NF_TARGET_REJECT=m
CONFIG_IP_NF_FILTER=m
CONFIG_IP_NF_IPTABLES=m
CONFIG_IP_NF_MANGLE=m
CONFIG_IP_NF_TARGET_REJECT=m

# Wireless core
CONFIG_CFG80211=m
CONFIG_MAC80211=m
# Wireless Intel
CONFIG_IWLWIFI=m
CONFIG_IWLMVM=m

# Other pinky drivers:
CONFIG_I2C_DESIGNWARE_PCI=m
CONFIG_I2C_DESIGNWARE_PLATFORM=m
CONFIG_I2C_I801=m

CONFIG_X86_PLATFORM_DEVICES=y
CONFIG_IDEAPAD_LAPTOP=m
CONFIG_INTEL_MEI_HDCP=m
CONFIG_ACPI_PROCESSOR_AGGREGATOR=m
CONFIG_TCG_TPM=m
CONFIG_TCG_CRB=m
CONFIG_POWERCAP=y
CONFIG_INTEL_RAPL=m
CONFIG_MFD_INTEL_LPSS_ACPI=m
CONFIG_MFD_INTEL_LPSS_PCI=m
CONFIG_PINCTRL=y
CONFIG_PINCTRL_CANNONLAKE=m
CONFIG_ACPI_WMI=m
CONFIG_INT340X_THERMAL=m

CONFIG_MMC=m
CONFIG_MISC_RTSX_PCI=m
CONFIG_MMC_REALTEK_PCI=m

CONFIG_DMADEVICES=y
CONFIG_INTEL_IDMA64=m
CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_CMOS=m
CONFIG_MISC_RTSX_PCI=m
