#
# Minimal home linux kconfig on top of "allnoconfig"
#
CONFIG_EMBEDDED=n
CONFIG_EXPERT=n

CONFIG_64BIT=y
CONFIG_SMP=y
CONFIG_PM=y

CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_MISC=y

CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y

CONFIG_LOCALVERSION_AUTO=y

CONFIG_HIGH_RES_TIMERS=y
CONFIG_NO_HZ_IDLE=y

CONFIG_PREEMPT=y

# For /proc/kconfig.gz
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_SYSVIPC=y

CONFIG_PCI=y

# USB support and all the HCIs
CONFIG_USB_SUPPORT=y
CONFIG_USB=m
CONFIG_USB_XHCI_HCD=m
CONFIG_USB_EHCI_HCD=m
CONFIG_USB_OHCI_HCD=m
CONFIG_USB_UHCI_HCD=m
CONFIG_TYPEC=m

# Common USB classes
CONFIG_USB_STORAGE=m
CONFIG_USB_SERIAL=m

# Basic serial console
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y

CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

# Basic disk supprot
CONFIG_BLOCK=y
CONFIG_SCSI=y
CONFIG_BLK_DEV_NVME=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_EXT4_FS=y

# Basic networking
CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_NET_CORE=y
CONFIG_INET=y
CONFIG_PACKET=y

CONFIG_TUN=m

# Sound, all modules
CONFIG_SOUND=m
CONFIG_SND=m
CONFIG_SND_HDA_INTEL=m

# ACPI and EFI to boot modern PCs
CONFIG_ACPI=y
CONFIG_EFI=y
CONFIG_EFI_STUB=y

# Intel GPUs
CONFIG_DRM=m
CONFIG_DRM_I915=m

# Encrypted partitions
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
CONFIG_DM_CRYPT=y
CONFIG_CRYPTO_XTS=m

# CIFS mounting support:
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_CIFS=m

CONFIG_BT=m
CONFIG_BT_HIDP=m

CONFIG_KEXEC=y

# VM Host support
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=m
CONFIG_KVM_INTEL=m

# VM Guest support
CONFIG_HYPERVISOR_GUEST=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_CONSOLE=y

CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_MOUSEDEV=y
