# Only DT:
CONFIG_ACPI=n
CONFIG_EFI=n

# Only NXP platforms:
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_AGILEX=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_QCOM=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_STRATIX10=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZX=n
CONFIG_ARCH_ZYNQMP=n

# Remove some large non-nxp drivers:
CONFIG_NET_VENDOR_AMD=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_DRM_NOUVEAU=n
CONFIG_DRM_TEGRA=n

# Remove unused features:
CONFIG_BTRFS_FS=n
CONFIG_FPGA=n
CONFIG_MD=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MFD_CROS_EC=n
CONFIG_NET_9P=n
CONFIG_RC_CORE=n
