#
# Requirements from systemd README
# https://github.com/systemd/systemd/blob/master/README
# 
# Some could be disabled on embedded systems
#
CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_NET=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_UNIX=y
# (libudev, mount and bind mount handling)
CONFIG_FHANDLE=y

# Kernel crypto/hash API
CONFIG_CRYPTO=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_SHA256=y

# udev will fail to work with the legacy sysfs layout:
CONFIG_SYSFS_DEPRECATED=n

# Legacy hotplug slows down the system and confuses udev:
CONFIG_UEVENT_HELPER_PATH=""

# Userspace firmware loading is not supported and should
# be disabled in the kernel:
CONFIG_FW_LOADER_USER_HELPER=n

# Some udev rules and virtualization detection relies on it:
CONFIG_DMI=y
CONFIG_DMIID=y

# Support for some SCSI devices serial number retrieval, to
# create additional symlinks in /dev/disk/ and /dev/tape:
CONFIG_BLOCK=y
CONFIG_BLK_DEV_BSG=y

# Required for PrivateNetwork= in service units:
CONFIG_MULTIUSER=y
CONFIG_NAMESPACES=y
CONFIG_NET_NS=y
# Note that systemd-localed.service and other systemd units use
# PrivateNetwork so this is effectively required.
# Required for PrivateUsers= in service units:
CONFIG_USER_NS=y

# Optional but strongly recommended:
CONFIG_INET=y
CONFIG_IPV6=y
CONFIG_AUTOFS4_FS=y
CONFIG_SHMEM=y
CONFIG_TMPFS=y
CONFIG_TMPFS_XATTR=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_XFS_POSIX_ACL=y
CONFIG_BTRFS_FS_POSIX_ACL=y

# Required for seccomp support:
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y

# For the kcmp syscall:
CONFIG_CHECKPOINT_RESTORE=y

# Required for CPUShares= in resource control unit settings
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y

# Required for CPUQuota= in resource control unit settings
CONFIG_CFS_BANDWIDTH=y

# Required for IPAddressDeny= and IPAddressAllow= in resource control unit settings
CONFIG_BPF_SYSCALL=y
CONFIG_CGROUP_BPF=y

# For UEFI systems:
CONFIG_EFI=y
CONFIG_EFIVAR_FS=y
CONFIG_EFI_PARTITION=y

# Required for systemd-nspawn:
CONFIG_DEVPTS_MULTIPLE_INSTANCES=y

# Note that kernel auditing is broken when used with systemd's container code.
CONFIG_AUDIT=n

# We recommend to turn off Real-Time group scheduling in the kernel when using systemd.
CONFIG_RT_GROUP_SCHED=n

