# Basic HW buses
CONFIG_PCI=y
CONFIG_USB_SUPPORT=y

# ACPI and EFI to boot modern PCs
CONFIG_ACPI=y
CONFIG_EFI=y
CONFIG_EFI_STUB=y

# VM Guest support
CONFIG_HYPERVISOR_GUEST=y

# virtio generic
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_SCSI_VIRTIO=m

# vbox emulates piix
CONFIG_ATA_PIIX=y
CONFIG_SATA_AHCI=y
CONFIG_PATA_MPIIX=y

# xen guest
CONFIG_XEN=y
CONFIG_PARAVIRT=y
